.tweet {
	border: 3px black solid;
	margin: 10px 0px;
}

.tweetStream {
	/* margin: auto; */
	margin: 0px 100px;
}

.username {
	cursor: pointer;
	text-decoration: underline;
}

.title {
	text-align: center;
}